@page
@model Universite.Pages.Notes.EditModel

@{
    ViewData["Title"] = "Edit";
    int i = 0;
}

<script language="Javascript">
    function bascule(elem) {
        document.getElementById(elem).style.visibility = "visible";
    }
</script>


<h1>Saisie</h1>

<h4>Saisie des notes</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Enseigner.LEnseignantID" value="@Model.Enseignant.ID" />*@
            <div class="form-group">
                <label asp-for="Enseigner.LUEID" class="control-label">Selectionnez l'UE</label>
                <select asp-for="Enseigner.LUEID" class="form-control" asp-items="ViewBag.LUEID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Select" class="btn btn-primary" asp-page-handler="First" onClick="bascule('form');" />
            </div>
        </form>
    </div>
</div>

<form method="post" id="form" style="visibility: hidden">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Etudiant</p>
                </th>
                <th>
                    <p>Note</p>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.EtudiantNotes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etudiant.Nom)
                        @Html.DisplayFor(modelItem => item.Etudiant.Prenom)
                    </td>
                    <th>
                        <input asp-for="EtudiantNotes[i].Note.Valeur" class="form-control"
                               value=@item.NoteToString />
                    </th>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="Second"/>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}